@import './Global';
//
.welcome {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $bg-wel;
    display: flex;
    justify-content: center;
    align-items: center;
    //
    .temp {
        margin: 0 15px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        //
        .temp--poster {
            position: relative;
            bottom: 3em;
            img {
                max-width: 500px;
                width: 90%;
            }
        }
        //
        .text--start {
            bottom: 3em;
            font-weight: 600;
            position: relative;
        }
        // 
        #btn-start {
            position: relative;
            bottom: 4em;
            width: 200px;
            height: 45px;
        }
    }
}